@import url('https://fonts.googleapis.com/css2?family=Macondo&family=Manrope&display=swap');
* {
  margin: 0;
  padding: 0;
}

html, body {
  box-sizing: border-box;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
}

.navigation {
  display: flex;
  position: sticky;
  justify-content: space-between;
 margin: 20px 20px;
}

.logo {
  padding: 10px;
  margin-left: 20px;
  color: hsl(350, 87%, 62%);
  font-size: 30px;
}

.navigation ul {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 20px;
}

.nav-item {
  margin: 0 5px;
  font-size: 15px;
}

.nav-item a {
  padding: 10px;
  text-decoration: none;
  color: black;
}
.nav-item a:hover {
  border-bottom: 2px solid hsl(350, 87%, 62%);
}

.waving {
  width: 30px;
}

.introduction {
  display: flex;
  width: 100vw;
}

.introduction-text {
  height: 83vh;
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.greeting {
  font-size: 16px;
}

.name {
  font-family: 'Macondo', sans-serif;
  font-size: 60px !important;
}

.statement {
  font-size: 16px;
  width: 80%;
}

.goals {
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: hsl(350, 87%, 62%);
  color: rgb(255, 244, 244);
}

.goals::before, .goals::after {
  content: '';
  position: absolute;
  height: 120px;
  bottom: -150px;
  right: 0;
  left: 0;
  background: hsl(350, 87%, 62%);
  transform: skewY(-4deg);
  -webkit-transform: skewY(-4deg);
  -moz-transform: skewY(-4deg);
  -ms-transform: skewY(-4deg);
}

.goals-header {
  font-size: 30px;
}

.goals-list {
  
}